In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import pandas as pd
import numpy as np

In [ ]:
df - pd.read_csv('titanic.csv')

In [ ]:
df.info()

In [ ]:
titanic - sns.load_dataset('titanic')

In [ ]:
bar graph (passengers by class)

plt.figure(figsize-(10,10))
sns.counterplot(x-'class', data-titanic)
plt.title('Passenger by Class')
plt.xlabel('Class')
plt.ylabel('Count')
plt.show()

In [ ]:
scatterplot (fare vs age)

plt.figure(figsize-(10,10))
sns.scatterplot(x-'age', y-'fare', data-titanic,
                hue-'sex')
plt.title('Fare vs Age')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.legend(title-'Sex')
plt.show?()

In [ ]:
pie chart
plt.figure(figsize-(10,10))
sizes- titanic['sex']value_counts()
plt.pie(sizes,labels-sizes.index)
plt.title('passenger distribution by sex')
plt.show()

In [ ]:
histogram

plt.figure(figsize-(10,10))
sns.histplot(titanic['age'].dropna(), bins-30)
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

In [ ]:
box plot

plt.figure(figsize-(10,10))
sns.boxplot(x-'class', y-'fare', data-titanic)
plt.title('Fare Distribution by Class')
plt.xlabel('Class')
plt.ylabel('Fare')
plt.show()

In [ ]:
heatmap

correlation_matrix-titanic.corr()
plt.figure(figsize-(10,10))
sns.heatmap(correlation_matrix, annot-True,
            cmap-'coolwarm')
plt.title('Correlation Matrix')
plt.show()